<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{{ asset('/bundles/amenophissympress/css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('/bundles/amenophissympress/css/style.css') }}" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{{ asset('/bundles/amenophissympress/css/bootstrap-responsive.css') }}" rel="stylesheet" />
        <title>Sympress{% block title %}{% endblock title %}</title>
        {% block header %}{% endblock header %}
    </head>
    <body>
        {% block full_content %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">Sympress</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <ul class="nav nav-list">
                        <li class="nav-header">Posts</li>
                        <li class="active"><a href="{{ path('sympress_adminpost_list') }}">List</a></li>
                        <li><a href="{{ path('sympress_adminpost_new') }}">New</a></li>
                    </ul>
                </div>
                <div class="span10">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
        {% endblock full_content %}
    </body>
</html>